<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
  <h2 mat-dialog-title>
    {{title}}
  </h2>
  <mat-divider></mat-divider>
  <mat-dialog-content style="overflow-x: hidden;">
    <h4 class="my-2 font-weight-light">Imbriquer sous :</h4>

    <mat-radio-group aria-label="Select a folder" [formControlName]="formControlName">
      <div class="d-flex align-items-center">
        <span class="ml-2">Aucun dossier</span>
        <mat-radio-button class="d-flex align-items-center ml-auto" labelPosition="before" [value]="null" style="height:40px">
        </mat-radio-button>
      </div>
      <mat-tree tabindex="0" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding matTreeNodePaddingIndent="8px">
          <button type="button" mat-icon-button *ngIf="node.expandable" matTreeNodeToggle disableRipple>
            <mat-icon>
              {{treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
            </mat-icon>
          </button>
          <button *ngIf="!node.expandable" mat-icon-button disabled></button>
          <mat-icon class="ml-n2">
            {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
          </mat-icon>
          <span class="ml-2">{{node.name}}</span>
          <mat-radio-button class="ml-auto" [value]="node.id" labelPosition="before">
            <!-- {{node.name}} -->
          </mat-radio-button>

        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: isUpdatingItem" style="display: none">
        </mat-tree-node>
      </mat-tree>
    </mat-radio-group>

  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="!form.valid || loading" type="submit">
      <i *ngIf="loading" class="spinner-border spinner-border-sm"></i>
      Confirmer</button>
    <button type="button" mat-button matDialogClose>Fermer</button>
  </mat-dialog-actions>
</form>