<div class="row justify-content-center align-items-center" style="height:100%">
  <div class="col-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p-card header="Connexion">
        <p-message *ngIf="isAlerting" severity="error" [text]="alertMsg">
        </p-message>
        <div class="mt-4 form-group">
          <input pInputText type="text" class="form-control" formControlName="username"
            placeholder="Nom d'utilisateur*" />
        </div>
        <div class="form-group">
          <input pInputText type="password" class="form-control" formControlName="password"
            placeholder="Mot de passe*" />
        </div>

        <p-footer>
          <div>
            <button type="submit" class="btn btn-success btn-sm" [disabled]="!form.valid || loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
              Connexion
            </button>
            <button type="button" routerLink="/register" class="btn btn-primary btn-sm ml-2">Créer un compte</button>
          </div>
          <div class="mt-2">
            <a routerLink="/login">Mot de passe oublié</a>
          </div>
        </p-footer>

      </p-card>
    </form>
  </div>
</div>