<div mat-dialog-content>
  <!-- <mat-label>Type</mat-label>
  <mat-select>
    <mat-option *ngFor="let type of types" [value]="type.value">
      {{type.text}}
    </mat-option>
  </mat-select> -->

  <mat-form-field>
    <div class="row">
      <div>
        <mat-label>Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.text}}
          </mat-option>
        </mat-select>
      </div>

      <div>
        <mat-label>Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{type.text}}
          </mat-option>
        </mat-select>
      </div>

      <!-- <div class="col-6">
        <input [matDatepicker]="myDatepicker">
        <mat-datepicker #myDatepicker></mat-datepicker>
      </div> -->
    </div>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div>