<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
  <h2 mat-dialog-title>
    Renommer un dossier
  </h2>

  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="!form.valid || loading" type="submit">
      <i *ngIf="loading" class="spinner-border spinner-border-sm"></i>
      Confirmer</button>
    <button type="button" mat-button matDialogClose>Fermer</button>
  </mat-dialog-actions>
</form>