<div class="d-flex flex-column h-100">
  <div class="btn-group w-100 px-3">
    <button mat-raised-button [matMenuTriggerFor]="menu" class="rounded-pill mx-auto my-3" color="primary">
      <mat-icon>add</mat-icon>
      <span>Ajouter</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="showFileUploadModal(getRouteFolderId())">
        <mat-icon fontSet="material-icons-outlined">note_add</mat-icon>
        Fichier(s)
      </button>
      <button mat-menu-item (click)="showFolderCreationModal(getRouteFolderId())">
        <mat-icon fontSet="material-icons-outlined">create_new_folder</mat-icon>
        Dossier
      </button>
    </mat-menu>
  </div>
  <mat-divider></mat-divider>
  <mat-nav-list dense class="py-2">
    <mat-list-item routerLink="files" routerLinkActive="active" disableRipple>
      <div matLine>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">insert_drive_file</mat-icon>
        <span class="ml-3">Mes fichiers</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <h4 mat-subheader class="m-0 py-0 pr-0">
    DOSSIERS
    <button mat-icon-button class="ml-auto" type="button" matTooltip="Fermer tous les dossiers"
      matTooltipPosition="above" (click)="collapseAll()">
      <mat-icon class="text-secondary">vertical_align_center</mat-icon>
    </button>
    <button mat-icon-button class="" type="button" matTooltip="Nouveau dossier à la racine" matTooltipPosition="above"
      (click)="showFolderCreationModal()">
      <mat-icon class="text-primary">create_new_folder</mat-icon>
    </button>
  </h4>

  <div class="scrollbar">
    <div class="scrollbar-content">
      <mat-tree tabindex="0" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node">
          <mat-nav-list dense class="w-100 pt-0">
            <mat-list-item disableRipple="true" [routerLink]="['folders', node.id]" routerLinkActive="active">
              <div matLine class="mx-n3" matTreeNodePadding matTreeNodePaddingIndent="8px">
                <button mat-icon-button *ngIf="node.expandable" (click)="toggleNode($event, node)" disableRipple
                  [attr.aria-label]="'toggle ' + node.name">
                  <mat-icon>
                    {{isExpanded(node) ? 'arrow_drop_down' : 'arrow_right'}}
                  </mat-icon>
                </button>
                <button *ngIf="!node.expandable" mat-icon-button disabled></button>
                <mat-icon class="ml-n2">
                  {{isExpanded(node) && node.expandable ? 'folder_open' : 'folder'}}
                </mat-icon>
                <span class="ml-3">
                  {{node.name}}
                </span>
              </div>
              <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopPropagation($event)" class="show-on-hover mr-n3"
                type="button">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="showFileUploadModal(node.id)">
                  <mat-icon fontSet="material-icons-outlined">note_add</mat-icon>
                  Nouveaux fichiers
                </button>
                <button mat-menu-item (click)="showFolderCreationModal(node.id)">
                  <mat-icon fontSet="material-icons-outlined">create_new_folder</mat-icon>
                  Nouveau dossier
                </button>
                <button mat-menu-item (click)="showFolderUpdateModal(node)">
                  <mat-icon fontSet="material-icons-outlined">create</mat-icon>
                  Renommer
                </button>
                <button mat-menu-item (click)="showMoveModal(node)">
                  <mat-icon fontSet="material-icons-outlined">low_priority</mat-icon>
                  Déplacer
                </button>
                <button mat-menu-item (click)="deleteFolder(node)">
                  <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                  Supprimer
                </button>
              </mat-menu>
            </mat-list-item>
          </mat-nav-list>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>

  <mat-divider></mat-divider>
  <mat-nav-list class="pt-2">
    <mat-list-item routerLink="career" routerLinkActive="active" disableRipple>
      <div matLine>
        <mat-icon mat-list-icon fontSet="material-icons-outlined">insert_chart</mat-icon>
        <span class="ml-3"> Ma carrière </span>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>