<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">

	<h2 mat-dialog-title class="mb-2">Importer des fichiers</h2>

	<div class="py-sm-2 px-2">
		<div class="row">
			<div class="col-auto">
				<input type="file" id="file" multiple (change)="addFiles($event.target.files)" #fileInput hidden>
				<button type="button" mat-flat-button color="primary" (click)="fileInput.click()" [disabled]="loading">
					<mat-icon matPrefix fontSet="material-icons-outlined">add</mat-icon>
					Ajouter des fichiers
				</button>
			</div>

			<div *ngIf="formArray.length" class="col-auto mt-2">
				<div class="align-self-end ml-auto" *ngIf="formArray.length > 1">{{formArray.length}} fichiers dans la liste
				</div>
			</div>
		</div>

		<div *ngIf="filesLengthWarning" class="mt-2 text-danger">La limite de {{filesLengthLimit}} fichiers a été dépassée
		</div>
	</div>
	<div *ngIf="formArray.length">
		<div class="d-flex my-2 align-items-center mx-n3">
			<mat-icon class="text-secondary">search</mat-icon>
			<div class="input-group input-group-sm">
				<input [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" type="text" placeholder="Rechercher"
					class="form-control rounded-pill">
			</div>
		</div>

		<mat-divider class="mx-n4"></mat-divider>

		<!-- <div formArrayName="formArray" *ngIf="isWeb">
			<cdk-virtual-scroll-viewport autosize style="min-height:30vh; max-height:60vh; width:630px; overflow-y:scroll"
				class="mx-n4">
				<div *cdkVirtualFor="let control of filteredFormControls; let index=index; templateCacheSize: 0"
					[formGroupName]="findControlIndex(control)" [style.height]="'auto'">
					<mat-divider></mat-divider>
					<div class="row py-2 px-3">
						<div class="col d-flex flex-column text-truncate pr-5" style="border-right: solid 1px #dfdfdf;">
							<div class="row">
								<div class="col-12">Taille :</div>
							</div>
							<div class="row">
								<div class="col-12">{{transformFileSize(control.value.size)}} </div>
							</div>
							<div class="row mt-auto">
								<div>
									<button type="button" mat-icon-button (click)="showFilePreviewModal(control.value)" class="ml-3">
										<mat-icon class="material-icons-outlined text-secondary">visibility</mat-icon>
									</button>
								</div>
								<div>
									<button type="button" mat-icon-button (click)="deleteFileObjectByIndex(findControlIndex(control))"
										class="">
										<mat-icon class="material-icons-outlined text-secondary">delete</mat-icon>
									</button>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<div class="row">
								<div class="col-12">
									<mat-form-field>
										<mat-label>Nom</mat-label>
										<input matInput formControlName="name" required>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<mat-form-field>
										<mat-label>Type de document</mat-label>
										<mat-select formControlName="documentType">
											<mat-option *ngFor="let type of types" [value]="type">
												{{type}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>
								<div class="col pl-0">
									<mat-form-field>
										<mat-label>Date</mat-label>
										<input matInput [matDatepicker]="dp" formControlName="documentDate">
										<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
										<mat-datepicker #dp startView="multi-year"
											(monthSelected)="chosenMonthHandler($event, dp, findControlIndex(control))"
											panelClass="example-month-picker">
										</mat-datepicker>
									</mat-form-field>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<mat-form-field>
										<mat-label>Entreprise</mat-label>
										<input matInput formControlName="company" [matAutocomplete]="autoCompany">
										<button type="button" mat-icon-button matSuffix *ngIf="fileObjects.length > 1"
											(click)="applyToAllCompanies($event, control.value.company)"
											matTooltip="Appliquer à tous les autres fichiers">
											<mat-icon>call_split</mat-icon>
										</button>
										<mat-autocomplete autoActiveFirstOption #autoCompany="matAutocomplete">
											<mat-option *ngFor="let company of filteredCompanies | async" [value]="company">
												{{company}}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
								<div class="col pl-0">
									<mat-form-field>
										<mat-label>Emploi</mat-label>
										<input matInput formControlName="workplace" [matAutocomplete]="autoWorkplace">
										<button type="button" mat-icon-button matSuffix *ngIf="fileObjects.length > 1"
											(click)="applyToAllWorkplaces($event, control.value.workplace)"
											matTooltip="Appliquer à tous les autres fichiers">
											<mat-icon>call_split</mat-icon>
										</button>
										<mat-autocomplete autoActiveFirstOption #autoWorkplace="matAutocomplete">
											<mat-option *ngFor="let workplace of filteredWorkplaces | async" [value]="workplace">
												{{workplace}}
											</mat-option>
										</mat-autocomplete>
									</mat-form-field>
								</div>
							</div>
							<div class="row" *ngIf="isSelectedFichePaie(findControlIndex(control))">
								<div class="col">
									<mat-form-field>
										<mat-label>Salaire brut (€)</mat-label>
										<input matInput formControlName="grossSalary" appNumberValidator>
									</mat-form-field>

								</div>
								<div class="col pl-0">
									<mat-form-field>
										<mat-label>Salaire net (€)</mat-label>
										<input matInput formControlName="netSalary" appNumberValidator>
									</mat-form-field>
								</div>
							</div>
						</div>
					</div>
				</div>
			</cdk-virtual-scroll-viewport>
		</div> -->

		<mat-list class="mx-n4 pt-0" style="max-height: 65vh; overflow-y: auto">
			<mat-list-item *ngFor="let control of filteredFormControls; let index=index;">

				<span style="font-size: 14px" class="text-truncate">{{control.value.name}}</span>
				<button mat-icon-button [matMenuTriggerFor]="menu" class="ml-auto mr-n2" type="button">
					<mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item (click)="showFilePreviewModal(control.value)">
						<mat-icon fontSet="material-icons-outlined">visibility</mat-icon>
						Aperçu
					</button>
					<button mat-menu-item (click)="showFileUpdateModal(control.value, findControlIndex(control))">
						<mat-icon fontSet="material-icons-outlined">create</mat-icon>
						Modifier
					</button>
					<button mat-menu-item (click)="deleteFileObjectByIndex(findControlIndex(control))">
						<mat-icon fontSet="material-icons-outlined">delete</mat-icon>
						Retirer
					</button>
				</mat-menu>
			</mat-list-item>

		</mat-list>

		<mat-divider class="mx-n4"></mat-divider>
	</div>


	<mat-dialog-actions align="end">
		<button *ngIf="formArray.length" mat-button color="primary" [disabled]="!canSave" type="submit">
			<i *ngIf="loading" class="spinner-border spinner-border-sm"></i>
			Importer</button>
		<button type="button" mat-button [mat-dialog-close]="true">Fermer</button>
	</mat-dialog-actions>
</form>