<div class="d-flex flex-column h-100">
  <app-breadcrumb></app-breadcrumb>
  <mat-divider></mat-divider>
  <div class="d-flex align-items-center px-2 pt-2 " style="background:white">
    <mat-icon class="text-secondary">search</mat-icon>
    <div class="input-group input-group-sm w-25 pl-1">
      <input [(ngModel)]="filter" type="text" placeholder="Rechercher" class="form-control rounded-pill">
    </div>
    <div class="ml-auto" *ngIf="gridApi">
      {{gridApi.getDisplayedRowCount()}} fichiers affichés
    </div>
    <div class="mx-3">
      -
    </div>
    <div class="mr-auto" *ngIf="files">
      {{files.length}} fichiers au total
    </div>

    <div class="mr-1">
      <button mat-icon-button (click)="refresh()">
        <mat-icon class="text-secondary">sync</mat-icon>
      </button>
    </div>
    <div class="mx-1">
      <button mat-stroked-button class="rounded-pill" [matMenuTriggerFor]="menu">
        <mat-icon class="material-icons-outlined text-secondary">table_chart</mat-icon>
        <span class="ml-2">Exporter</span>
        <mat-icon class="text-secondary">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="exportAsCsv()">
          Exporter en .csv
        </button>
        <button mat-menu-item (click)="exportAsExcel()">
          Exporter en .xlsx
        </button>
      </mat-menu>
    </div>

  </div>
  <div class="h-100">
    <ag-grid-angular id="gridManageMyCareer" class="ag-theme-alpine w-100 h-100" [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef" [rowData]="files" [rowHeight]="32" (gridReady)="onGridReady($event)"
      suppressCellSelection="true" (rowDoubleClicked)="rowDoubleClicked($event)"
      (cellContextMenu)="rowRightClicked($event)" [getContextMenuItems]="getContextMenuItems" rowSelection='multiple'
      [tooltipShowDelay]="0" [quickFilterText]="filter"></ag-grid-angular>
  </div>
</div>