<div class="grid-wrapper h-100">
    <ag-grid-angular
    #agGrid
    id="gridManageMyCareer"
    class="ag-theme-alpine w-100 h-100"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="files"
    (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
</div>

<button title="print selection" type="button" class="ml-1 align-baseline btn btn-outline-danger btn-sm rounded-circle" (click)="onClickPrintSelection()">
	<i class="fa fa-trash"></i>
</button>

<app-update-modal #updateModal></app-update-modal>