<p-dialog [style]="{'overflow':'visible'}"
	[contentStyle]="{'overflow-y':'auto', 'overflow-x':'visible', 'padding':'0px'}" [(visible)]="visible" header="Nouveau"
	[resizable]="false" [modal]="true" [draggable]="false" [blockScroll]="true">

	<div class="py-2 px-2">
		<p-fileUpload [customUpload]="true" mode="basic" (uploadHandler)="addFiles($event)" name="fileUpload" [auto]="true"
			[showUploadButton]="false" [showCancelButton]="false" chooseLabel="Fichier(s)" [multiple]="true"
			#uploadFileComponent>
		</p-fileUpload>
	</div>

	<div class="ui-g py-2" style="border-top: solid 1px grey" *ngFor="let fileObject of fileObjects; index as i">
		<div class="col d-flex flex-column text-truncate pr-5" style="border-right: solid 1px grey">
			<div class="row">
				<div class="col-12">Taille :</div>
			</div>
			<div class="row">
				<div class="col-12">{{fileObject.size}}B</div>
			</div>
			<div class="row mt-auto">
				<div class="col-12">
					<button class="btn btn-light btn-sm" (click)="deleteFileObjectByIndex(i)">
						Retirer
					</button>
				</div>
			</div>
		</div>
		<div class="col-auto my-3">
			<div class="row">
				<div class="col-12">
					<span class="ui-float-label">
						<input type="text" [(ngModel)]="fileObjects[i].name" pInputText
							[style]="{'min-width':'300px', 'width': '100%'}">
						<label>Nom</label>
					</span>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col">
					<span class="ui-float-label">
						<p-dropdown appendTo="body" [options]="types" [(ngModel)]="fileObjects[i].documentType"
							[autoDisplayFirst]="false" [style]="{'width': '100%'}"></p-dropdown>
						<label>Type de document</label>
					</span>

				</div>
				<div class="col pl-0" *ngIf="isSelectedFichePaie(i) || isSelectedContrat(i)">
					<span class="ui-float-label">
						<p-calendar appendTo="body" [(ngModel)]="fileObjects[i].documentDate" view="month" dateFormat="mm/yy"
							[style]="{'width': '100%'}" [yearNavigator]="true" yearRange="1950:2030"></p-calendar>
						<label>Date</label>
					</span>

				</div>
			</div>
			<div class="row mt-4" *ngIf="isSelectedFichePaie(i) || isSelectedContrat(i)">
				<div class="col">
					<!-- <p-autoComplete [suggestions]="filteredCompanies" (completeMethod)="filterCompanies($event)"
						[(ngModel)]="fileObjects[i].company" placeholder="Entreprise"></p-autoComplete>
				</div>
				<div class="col pl-0">
					<p-autoComplete [suggestions]="filteredJobs" (completeMethod)="filterJobs($event)"
						[(ngModel)]="fileObjects[i].workplace" placeholder="Poste">
					</p-autoComplete> -->

					<span class="ui-float-label">
						<p-dropdown appendTo="body" [options]="companies" optionLabel="name" (onChange)="companyChanged($event, i)"
							[autoDisplayFirst]="false" [style]="{'width': '100%'}" filter="true">
						</p-dropdown>
						<label>Entreprise</label>
					</span>

				</div>
				<div class="col pl-0">
					<span class="ui-float-label">
						<p-dropdown appendTo="body" [options]="workplaces" optionLabel="name"
							(onChange)="workplaceChanged($event, i)" [autoDisplayFirst]="false" [style]="{'width': '100%'}"
							filter="true"></p-dropdown>
						<label>Poste</label>
					</span>
				</div>
			</div>

			<div class="row mt-4" *ngIf="isSelectedFichePaie(i)">
				<div class="col">
					<span class="ui-float-label">
						<input type="text" [(ngModel)]="fileObjects[i].grossSalary" pInputText pKeyFilter="money"
							[style]="{'width': '100%'}">
						<label>Salaire brut (€)</label>
					</span>

				</div>
				<div class="col pl-0">
					<span class="ui-float-label">
						<input type="text" [(ngModel)]="fileObjects[i].netSalary" pInputText pKeyFilter="money"
							[style]="{'width': '100%'}">
						<label>Salaire net (€)</label>
					</span>
				</div>
			</div>
		</div>
	</div>

	<p-footer>
		<button type="button" class="btn btn-primary btn-sm" (click)="uploadFiles()" [disabled]="loading">
			<i *ngIf="!loading" class="fa fa-upload"></i>
			Importer
		</button>
		<button type="button" (click)="close()" class="btn btn-secondary btn-sm">
			Fermer
		</button>
	</p-footer>
</p-dialog>