
<button title="Télécharger" type="button" class="ml-1 align-baseline btn btn-outline-primary btn-sm rounded-circle" (click)="downloadFile()">
		<i class="fa fa-download"></i>
	</button>

	<button title="Modifier" type="button" class="ml-1 align-baseline btn btn-outline-success btn-sm rounded-circle" (click)="updateFile()">
		<i class="fa fa-pen"></i>
	</button>

<button title="Supprimer" type="button" class="ml-1 align-baseline btn btn-outline-danger btn-sm rounded-circle" (click)="deleteFile()">
	<i class="fa fa-trash"></i>
</button>

<app-upload-modal #updateModal></app-upload-modal>