<section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <button type="button" class="ui-button-primary" pButton icon="pi pi-arrow-down" (click)="downloadFile()"></button>&nbsp;
    <button type="button" class="ui-button-warning" pButton icon="pi pi-eye" (click)="filePreview()"></button>&nbsp;
    <button type="button" class="ui-button-success" pButton icon="pi pi-pencil" (click)="updateFile()"></button>&nbsp;
    <button type="button" class="ui-button-danger" pButton icon="pi pi-trash" (click)="deleteFile()"></button>
</section>