<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off" class="w-100 h-100">
	<div class="w-100 h-100 d-flex flex-column justify-content-center">

		<div class="align-self-center w-100" style="max-width: 400px;">

			<h1>Inscription</h1>

			<h5 *ngIf="isAlerting" class="text-danger ">{{alertMsg}}</h5>

			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Nom d'utilisateur</mat-label>
				<input matInput formControlName="username" required>
			</mat-form-field>

			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Mot de passe</mat-label>
				<input matInput type="password" formControlName="password" required>
			</mat-form-field>

			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Confirmer le mot de passe</mat-label>
				<input matInput type="password" formControlName="passwordChecker" required>
			</mat-form-field>

			<div>
				<button mat-flat-button type="submit" color="accent" [disabled]="!form.valid || loading">
					<i *ngIf="loading" class="spinner-border spinner-border-sm"></i>
					S'inscrire
				</button>

				<button mat-button color="primary" class="ml-2" type="button" (click)="changeToLoginComponent.emit()">J'ai
					déjà un compte
				</button>
			</div>
		</div>
	</div>
</form>