<div class="row justify-content-center align-items-center h-100 w-100">
	<div class="col-4">
		<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">


			<mat-card>
				<mat-card-title>Créer un compte</mat-card-title>
				<mat-card-content>
					<h5 *ngIf="isAlerting" class="text-danger ">{{alertMsg}}</h5>
					<div class="mt-4">
						<mat-form-field class="w-100">
							<mat-label>Nom d'utilisateur</mat-label>
							<input matInput formControlName="username" required>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="w-100">
							<mat-label>Mot de passe</mat-label>
							<input matInput type="password" formControlName="password" required>
						</mat-form-field>
					</div>
					<div>
						<mat-form-field class="w-100">
							<mat-label>Confirmer le mot de passe</mat-label>
							<input matInput type="password" formControlName="passwordChecker" required>
						</mat-form-field>
					</div>
				</mat-card-content>
				<mat-card-actions>
					<div>
						<button mat-flat-button type="submit" color="accent" [disabled]="!form.valid || loading">
							<i *ngIf="loading" class="spinner-border spinner-border-sm"></i>
							S'enregistrer 
						</button>
						<a class="ml-3" routerLink="/login">J'ai déjà un compte</a>
					</div>
				</mat-card-actions>
			</mat-card>
		</form>
	</div>
</div>